<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Weather App</title>
    <link rel='stylesheet' href='/static/styles/style.css'>
</head>
<body>
    <div class='container'>
        <h1>Weather <strong>App</strong></h1>
        <form method='get' action='/weather'>
            <div>
                <input type='text' name='city_name' placeholder='Enter city' required>
                <button type='submit' name='view_type' value='current'>Current</button>
                <button type='submit' name='view_type' value='forecast'>Forecast</button>
            </div>
        </form>
    {% block content %}
    {% endblock %}
    </div>
    {% if request.url.path == '/' %}
    <script>
        window.onload = function() {
            if (navigator.geolocation && !window.location.href.includes('/weather/auto')) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    window.location.href = `/weather/auto?lat=${lat}&lon=${lon}`;
                });
            }
        };
    </script>
    {% endif %}
</body>
</html>