<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Weather App</title>
    <link rel='stylesheet' href='/static/styles/style.css'>
</head>
<body>
    <div class='container'>
        <h1>Weather <strong>App</strong></h1>
        <form method='get' action='/weather'>
            <input type='text' name='city_name' placeholder='Enter city' required>
            <div class='button-group'>
                <button type='submit' name='view_type' value='current'>Get Current</button>
                <button type='submit' name='view_type' value='forecast'>Get Forecast</button>
            </div>
        </form>
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>