{% extends 'base.html' %}

{% block title %}Current Weather{% endblock %}

{% block content %}
    {% if current %}
        <div class='weather-card'>
            <h2><strong>{{ current.city_name }}</strong></h2>
                <ul>
                    <li><p class='temperature'>{{ current.temperature }}°C</p></li>
                    <li><img src='{{ current.icon_url }}' alt='Weather Icon' /></li>
                    <li><p class='description'>{{ current.description }}</p></li>
                </ul>
        </div>
    {% else %}
        <p>No weather data available.</p>
    {% endif %}
{% endblock %}

