{% extends 'base.html' %}

{% block title %}Current Weather{% endblock %}

{% block content %}
    {% if current %}
        <div class='weather-card'>
            <h2><strong>{{ current.city_name }}</strong></h2>
                <div>
                    <p>Temperature: {{ current.temperature }}°C</p>
                    <p></p>Feels like: {{ current.feels_like }}
                </div>
                <div>
                    <p></p>Humidity: {{ current.humidity }}%
                    <p >Wind: {{ current.wind }}m/s</p>
                </div>
                <div>
                    <p><img src='{{ current.icon_url }}' alt='Weather Icon'/></p>
                    <p>{{ current.description }}</p>
                </div>     
        </div>
    {% else %}
        <p>No weather data available.</p>
    {% endif %}
{% endblock %}

