{% extends 'base.html' %}

{% block title %}Current Weather{% endblock %}
{% block content %}
    {% if current %}
        <div class='weather-card'>
            <h2><strong>{{ current.city_name }}</strong></h2>
                <ul>
                    <li>
                        <p><strong>Temperature:</strong> {{ current.temperature }}<strong>°C</strong></p>
                        <p><strong>Feels like:</strong> {{ current.feels_like }}<strong>°C</strong></p>
                    </li>
                    <li>
                        <p><strong>Humidity:</strong> {{ current.humidity }}<strong>%</strong></p>
                        <p><strong>Wind:</strong> {{ current.wind }}<strong> m/s</strong></p>
                    </li>
                    <li class='icon-block'>
                        <img src='{{ current.icon_url }}' alt='Weather Icon'/>
                        <p>{{ current.description }}</p>
                    </li>
                </ul>     
        </div>
    {% else %}
        <p>No weather data available.</p>
    {% endif %}
{% endblock %}

