/* static/styles/style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #ff8c00;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 80px;
    min-width: 500px;
    min-height: 500px;
    background-color: #000000;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 0 5px #ff8c00;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 12px;
    border: 2px solid #ff8c00;
    border-radius: 8px;
    background-color: #222222;
    color: #ffffff;
    font-size: 16px;
}

input[type="text"]::placeholder {
    color: #aaaaaa;
}

.button-group,
form button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e67300;
}

form button:active {
    background-color: #b05a05;
}

.weather-card {
    margin-top: 25px;
    background-color: #222;
    padding: 10px;
    border: 2px solid #FF9000;
    border-radius: 10px;
    text-align: center;
    color: #FF9000;
    transition: transform 0.3s ease-in-out;
}

.weather-card ul {
    list-style: none;
}

.weather-card ul li {
    display: inline-block;
}


.weather-card:hover {
    transform: scale(1.05);
}


.weather-card h2 {
    font-size: 28px;
    margin: 10px 0;
}


.weather-card img {
    margin: auto;
    width: 100px;
    height: 100px;
    margin: 15px 0;
}


.weather-card p.temperature {
    font-size: 69px;
    font-weight: bold;
    color: white;
}


.weather-card p.description {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}


.weather-card p.date {
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

.forecast-container {
    margin-top: 80px;
    background-color: #000000;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 5px #ff8c00;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.forecast-container h1 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #ffffff;
}

.weather-card h2 strong,
.container h1 strong,
.forecast-container h1 strong {
    padding: 1px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #FF9000;
    color: #000000
}

canvas {
    background-color: #111111;
    border-radius: 10px;
}