body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #ff8c00;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 80px;
    min-width: 500px;
    min-height: 500px;
    background-color: #000000;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input[type='text'] {
    width: 300px;
    padding: 15px;
    border: 1px solid #222222;
    border-radius: 8px;
    background-color: #222222;
    color: #ffffff;
    font-size: 16px;
}

input[type='text']::placeholder {
    height: 50px;
    color: #aaaaaa;
}

input:hover {
    border: 1px solid #ff8c00;
}

form button {
    height: 50px;
    width: 85px;
    background-color: #222222;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e67300;
}

form button:active {
    background-color: #9c5105c9;
}

.weather-card {
    margin-top: 25px;
    background-color: #222;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #FF9000;
    transition: transform 0.3s ease-in-out;
}

.weather-card ul {
    list-style: none;
}

.weather-card ul li {
    display: inline-block;
}


.weather-card:hover {
    transform: scale(1.05);
}


.weather-card h2 {
    font-size: 28px;
    margin: 10px 0;
}


.weather-card img {
    margin: auto;
    width: 100px;
    height: 100px;
    margin: 15px 0;
}


.weather-card p.temperature {
    font-size: 69px;
    font-weight: bold;
    color: white;
}


.weather-card p.description {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}


.weather-card p.date {
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

.forecast-container {
    position: relative;
    margin-top: 80px;
    background-color: #000000;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.back-link {
    position: absolute;
    top: 50px;
    left: 30px;
    color: orange;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #111111;
    color: #ffffff;
    transition: background-color 0.3s;
}

.back-link:hover {
    text-decoration: none;
    background-color: #e67300;
}

.back-link:active {
    background-color: #9c5105c9;
}

.forecast-container h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}

.weather-card h2 strong,
.container h1 strong,
.forecast-container h1 strong {
    padding: 1px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #FF9000;
    color: #000000
}

canvas {
    padding-top: 15px;
    padding-right: 15px;
    background-color: #111111;
    border-radius: 10px;
}