body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #ff8c00;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 80px;
    max-width: 540px;
    width: 90%;
    min-height: 350px;
    background-color: #000000;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 32px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input[type='text'] {
    width: 300px;
    padding: 14px;
    border: 2px solid #252525;
    border-radius: 8px;
    background-color: #252525;
    color: #ffffff;
    font-size: 16px;
}

input[type='text']::placeholder {
    height: 50px;
    color: #969696;
}

input:focus {
    outline: none;
    border: 2px solid #2F2F2F;
    border-radius: 8px;
}

form button {
    height: 50px;
    width: 100px;
    background-color: #222222;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #FF9000;
}

form button:active {
    background-color: #8d4804;
}

.weather-card {
    margin-top: 20px;
    font-size: 16px;
    background-color: #222;
    padding: 10px;
    border: 2px solid #222222;
    border-radius: 8px;
    color: #FF9000;
    transition: transform 0.3s ease-in-out;
}

.weather-card ul {
    background-color: #000000;
    border-radius: 0 8px 8px 8px;
    margin: 0;
    padding: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.weather-card ul li {
    background-color: #222222;
    border-radius: 8px;
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.weather-card ul .icon-block {
    text-align: center;
    justify-content: center;
}

.weather-card ul .icon-block img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.weather-card:hover {
    outline: none;
    border: 2px solid #2F2F2F;
    border-radius: 8px;
}

.weather-card h2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 20px;
    border: none;
    width: 100%;
}

.weather-card h2 strong {
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    border-radius: 8px 8px 0 0;
    background-color: #FF9000;
    color: #000000
}

.weather-card ul strong {
    font-weight: bold;
    color: #FFFFFF;
}

.forecast-container {
    position: relative;
    margin-top: 80px;
    background-color: #000000;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.back-link {
    position: absolute;
    top: 35px;
    left: 30px;
    color: orange;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #111111;
    color: #ffffff;
    transition: background-color 0.3s;
}

.back-link:hover {
    text-decoration: none;
    background-color: #e67300;
}

.back-link:active {
    background-color: #9c5105c9;
}

.forecast-container h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}

.container h1 strong,
.forecast-container h1 strong {
    padding: 1px;
    font-weight: bold;
    border-radius: 3px;
    background-color: #FF9000;
    color: #000000
}

canvas {
    background-color: #111111;
    border-radius: 10px;
}